@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* #8685ef */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5372f0;
}

.container {
    background-color: #fff;
    width: 975px;
    border-radius: 12.5px;
    padding: 30px;
}

.wrapper {
    border: 1.5px solid #bbb;
    border-radius: 7px;
}

.wrapper .text-input {
    display: flex;
    border-bottom: 1.5px solid #bbb;
}

.text-input textarea {
    height: 300px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    resize: none;
    font-size: 24px;
    border-radius: 5px;
    padding: 15px 20px;
}

.text-input .from-text {
    border-radius: 0px;
    border-right: 0.75px solid #bbb;
}

.text-input .to-text {
    border-radius: 0px;
    border-left: 0.75px solid #bbb;
}

.controls .row.from .icons {
    padding-right: 20px;
    border-right: 1px solid #bbb;
}

.controls .row.to .icons {
    padding-left: 20px;
    border-left: 1px solid #bbb;
}

.controls, .icons, .icons i, li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    padding: 15px 18px;
    list-style: none;
}

.controls .icons {
    width: 38%;
}

.controls .icons i {
    color: #9f9f9f;
    width: 100px;
    font-size: 21px;
    cursor: pointer;
    justify-content: center;
}

.controls i:hover {
    color: #000;
}

.controls .row select {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}

.controls .exchange {
    color: #9f9f9f;
    cursor: pointer;
    font-size: 21px;
}

.container button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    outline: none;
    background-color: #5372f0;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
    border-radius: 7.5px;
}
